html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
#print-content {
    display: none;
}
#movetxt {
    -webkit-animation: moving 2s;
    animation: moving 2s ;
}
@keyframes moving {
    0% {transform: translateX(-100px);}
    50% {transform: translateX(200px);}
    100% {transform: translateX(0px);}
}
#movemenu {
    -webkit-animation: movemenu 3s;
    animation: movemenu 3s;
}
@keyframes movemenu {
    to {transform: translateY(0px);}
    from {transform: translateY(300px);}
}
#movemenu2 {
    -webkit-animation: movemenu2 2.5s;
    animation: movemenu2 2.5s;
}
@keyframes movemenu2 {
    to {transform: translateY(0px);}
    from {transform: translateY(300px);}
}
#movemenu3 {
    -webkit-animation: movemenu3 2s;
    animation: movemenu3 2s;
}
@keyframes movemenu3 {
    to {transform: translateY(0px);}
    from {transform: translateY(300px);}
}
#movemenu4 {
    -webkit-animation: movemenu3 1.5s;
    animation: movemenu3 1.5s;
}
@keyframes movemenu4 {
    to {transform: translateY(0px);}
    from {transform: translateY(300px);}
}
.select-class {
    width:150px;
    padding:5px;
    border-radius:5px;
    font-size:14px;
}
.select-class2 {
    margin: 20px 0;
  }
.option-class {
    background-color: #f2f2f2;
    padding:5px;
}
#box{
    width: 800px;
    height: 370px;
    display:none;
    text-align: center; 
    background-color: beige;
}
#preview{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-80%, -50%);
}
@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(195, 230, 231);
    }
    .select-class {
        width:150px;
        padding:5px;
        border-radius:5px;
        font-size:14px;
    }
    .option-class {
        background-color: #f2f2f2;
        padding:5px;
    }
    #box{
        width: 550px;
        height: 370px;
        display:none;
        background-color: rgb(255, 255, 255);
    }
    #preview{
        position: absolute;
        top: 40%;
        left: 50%;
    }
  };